In [2]:
import pandas as pd

## Zohran Mamdani analysis

To import Zohran Mamdani's campaign finance data from New York City Campaign Finance Board (https://www.nyccfb.info/FTMSearch/Home/FTMSearch) :

In [20]:
mamdani = pd.read_csv("../data/Mamdani data 6.17.csv")

In [21]:
mamdani

,ELECTION,OFFICECD,RECIPID,CANCLASS,RECIPNAME,COMMITTEE,FILING,SCHEDULE,PAGENO,SEQUENCENO,...,INTEMPSTNM,INTEMPCITY,INTEMPST,INTOCCUPA,PURPOSECD,EXEMPTCD,ADJTYPECD,RR_IND,SEG_IND,INT_C_CODE
0,2025,1,2899,P,"Mamdani, Zohran K",H,8,ABC,NaN,NaN,...,Woodward Avenue,Ridgewood,NY,Development,NaN,NaN,NaN,N,N,IND
1,2025,1,2899,P,"Mamdani, Zohran K",H,8,ABC,NaN,NaN,...,Woodward Avenue,Ridgewood,NY,Development,NaN,NaN,NaN,N,N,IND
2,2025,1,2899,P,"Mamdani, Zohran K",H,8,ABC,NaN,NaN,...,Woodward Avenue,Ridgewood,NY,Development,NaN,NaN,NaN,N,N,IND
3,2025,1,2899,P,"Mamdani, Zohran K",H,8,ABC,NaN,NaN,...,Woodward Avenue,Ridgewood,NY,Development,NaN,NaN,NaN,N,N,IND
4,2025,1,2899,P,"Mamdani, Zohran K",H,8,ABC,NaN,NaN,...,Woodward Avenue,Ridgewood,NY,Development,NaN,NaN,NaN,N,N,IND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27668,2025,1,2899,P,"Mamdani, Zohran K",H,7,ABC,NaN,NaN,...,Woodward Avenue,Ridgewood,NY,Development,NaN,NaN,NaN,N,N,IND
27669,2025,1,2899,P,"Mamdani, Zohran K",H,7,ABC,NaN,NaN,...,Woodward Avenue,Ridgewood,NY,Development,NaN,NaN,NaN,N,N,IND
27670,2025,1,2899,P,"Mamdani, Zohran K",H,7,ABC,NaN,NaN,...,Woodward Avenue,Ridgewood,NY,Development,NaN,NaN,NaN,N,N,IND
27671,2025,1,2899,P,"Mamdani, Zohran K",H,8,ABC,NaN,NaN,...,Woodward Avenue,Ridgewood,NY,Development,NaN,NaN,NaN,N,N,IND
27672,2025,1,2899,P,"Mamdani, Zohran K",H,9,ABC,NaN,NaN,...,Woodward Avenue,Ridgewood,NY,Development,NaN,NaN,NaN,N,N,IND

In [22]:
mamdani.columns

Index(['ELECTION', 'OFFICECD', 'RECIPID', 'CANCLASS', 'RECIPNAME', 'COMMITTEE',
       'FILING', 'SCHEDULE', 'PAGENO', 'SEQUENCENO', 'REFNO', 'DATE',
       'REFUNDDATE', 'NAME', 'C_CODE', 'STRNO', 'STRNAME', 'APARTMENT',
       'BOROUGHCD', 'CITY', 'STATE', 'ZIP', 'OCCUPATION', 'EMPNAME',
       'EMPSTRNO', 'EMPSTRNAME', 'EMPCITY', 'EMPSTATE', 'AMNT', 'MATCHAMNT',
       'PREVAMNT', 'PAY_METHOD', 'INTERMNO', 'INTERMNAME', 'INTSTRNO',
       'INTSTRNM', 'INTAPTNO', 'INTCITY', 'INTST', 'INTZIP', 'INTEMPNAME',
       'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA',
       'PURPOSECD', 'EXEMPTCD', 'ADJTYPECD', 'RR_IND', 'SEG_IND',
       'INT_C_CODE'],
      dtype='object')

To filter out donors that live in New York:

In [23]:
filtered_mamdani=mamdani[mamdani["STATE"] !="NY"]

To find average amount of individual non-New York donations:

In [24]:
average = filtered_mamdani['AMNT'].mean()

print(average)

51.66622679045093

To find the total amount of non-New York donations:

In [25]:
sum_mamdani = filtered_mamdani["AMNT"].sum()
print(sum_mamdani)

233738.01

To create a new index that only includes the state, amount, and number and amount of non-New York donations by state, including Puerto Rico and Washington D.C.:

In [26]:
mamdani_analysis=filtered_mamdani.groupby("STATE").agg({
    "AMNT": "sum",
    "REFNO": "count"
}).reset_index()

In [27]:
mamdani_analysis

   STATE      AMNT  REFNO
0     AK     50.00      2
1     AL    250.00     11
2     AR    118.00      7
3     AZ   2500.50     38
4     CA  48121.49    784
5     CO   4346.50     93
6     CT   7917.00    132
7     DC   7677.50    186
8     DE    490.00     13
9     FL  12507.50    169
10    GA   7085.50     86
11    HI    215.00     13
12    IA    332.00     13
13    ID    106.00      3
14    IL   8864.91    210
15    IN   1893.00     39
16    KS    353.50     16
17    KY    225.00      9
18    LA    691.00     16
19    MA  20055.87    351
20    MD   5756.70    149
21    ME   1743.00     37
22    MI   5507.00    143
23    MN   3147.50     83
24    MO   1230.00     35
25    MS     45.00      3
26    MT    410.00      8
27    NC   2040.50     70
28    ND     50.00      2
29    NE    214.50     11
30    NH    924.50     22
31    NJ  21814.79    436
32    NM   1032.00     26
33    NV   1370.90     32
34    OH   3792.00     99
35    OK    447.00     12
36    OR   2200.70     80
37    PA  23384.00    368
38    RI   1364.08     38
39    SC    720.00     14
40    SD    190.00      4
41    TN    912.00     29
42    TX   8587.20    187
43    UT    861.00     16
44    VA   6963.47    136
45    VT   2037.50     44
46    WA   7215.20    142
47    WI   2147.20     66
48    WV    410.00     10
49    WY    100.00      1

To rename the column "REFNO" as number of donations:

In [28]:
mamdani_analysis = mamdani_analysis.rename(columns={'REFNO': 'Mamdani number of donations'})

In [29]:
mamdani_analysis

   STATE      AMNT  Mamdani number of donations
0     AK     50.00                            2
1     AL    250.00                           11
2     AR    118.00                            7
3     AZ   2500.50                           38
4     CA  48121.49                          784
5     CO   4346.50                           93
6     CT   7917.00                          132
7     DC   7677.50                          186
8     DE    490.00                           13
9     FL  12507.50                          169
10    GA   7085.50                           86
11    HI    215.00                           13
12    IA    332.00                           13
13    ID    106.00                            3
14    IL   8864.91                          210
15    IN   1893.00                           39
16    KS    353.50                           16
17    KY    225.00                            9
18    LA    691.00                           16
19    MA  20055.87                          351
20    MD   5756.70                          149
21    ME   1743.00                           37
22    MI   5507.00                          143
23    MN   3147.50                           83
24    MO   1230.00                           35
25    MS     45.00                            3
26    MT    410.00                            8
27    NC   2040.50                           70
28    ND     50.00                            2
29    NE    214.50                           11
30    NH    924.50                           22
31    NJ  21814.79                          436
32    NM   1032.00                           26
33    NV   1370.90                           32
34    OH   3792.00                           99
35    OK    447.00                           12
36    OR   2200.70                           80
37    PA  23384.00                          368
38    RI   1364.08                           38
39    SC    720.00                           14
40    SD    190.00                            4
41    TN    912.00                           29
42    TX   8587.20                          187
43    UT    861.00                           16
44    VA   6963.47                          136
45    VT   2037.50                           44
46    WA   7215.20                          142
47    WI   2147.20                           66
48    WV    410.00                           10
49    WY    100.00                            1

To output Mamdani Analysis as a CSV file:

In [30]:
mamdani_analysis.to_csv("../outputs/mamdani.6.17.csv")

## Adrienne Adams analysis

To import Adrienne Adams' campaign finance data from New York City Campaign Finance Board (https://www.nyccfb.info/FTMSearch/Home/FTMSearch) :

In [32]:
AAdams = pd.read_csv("../data/AAdams data 6.17.csv")

To filter out donors that live in New York:

In [33]:
filtered_AAdams=AAdams[AAdams["STATE"] !="NY"]

To find average amount of donation:

In [37]:
average = filtered_AAdams['AMNT'].mean()

print(average)

75.49103305785124

To find total amount of donations:

In [40]:
AAdams_sum = filtered_AAdams['AMNT'].sum()

print(AAdams_sum)

36537.66

To create a new index that only includes the number and amount of non-New York donations by state, including Puerto Rico and Washington D.C.:

In [41]:
AAdams_analysis=filtered_AAdams.groupby("STATE").agg({
    "AMNT": "sum",
    "REFNO": "count"
}).reset_index()

To rename the column "REFNO" as number of donations:

In [42]:
AAdams_analysis = AAdams_analysis.rename(columns={'REFNO': 'AAdams number of donations'})

To output Adrienne Adams analysis to a CSV file:

In [43]:
AAdams_analysis.to_csv("../outputs/AAdams.6.17.csv")

## Brad Lander analysis

To import Brad Lander's campaign finance data from New York City Campaign Finance Board (https://www.nyccfb.info/FTMSearch/Home/FTMSearch) :

In [44]:
Lander = pd.read_csv("../data/Lander data 6.17.csv")

/var/folders/mc/9mbj_9y93dlcrdjmk7lm40zc0000gn/T/ipykernel_99050/4270627435.py:1: DtypeWarning: Columns (46) have mixed types. Specify dtype option on import or set low_memory=False.
  Lander = pd.read_csv("../data/Lander data 6.17.csv")

To filter out donors that live in New York:

In [46]:
filtered_Lander=Lander[Lander["STATE"] !="NY"]

To find average amount of donation:

In [47]:
average = filtered_Lander['AMNT'].mean()

print(average)

167.47754010695186

To find total amount of donations:

In [48]:
Lander_sum = filtered_Lander['AMNT'].sum()

print(Lander_sum)

156591.5

To create a new index that only includes the number and amount of non-New York donations by state, including Puerto Rico and Washington D.C.:

In [49]:
Lander_analysis=filtered_Lander.groupby("STATE").agg({
    "AMNT": "sum",
    "REFNO": "count"
}).reset_index()

To rename the column "REFNO" as number of donations:

In [50]:
Lander_analysis = Lander_analysis.rename(columns={'REFNO': 'Lander number of donations'})

To output Lander analysis to CSV:

In [51]:
Lander_analysis.to_csv("../outputs/Lander.6.17.csv")

## Andrew Cuomo analysis:

To import Andrew Cuomo's campaign finance data from New York City Campaign Finance Board (https://www.nyccfb.info/FTMSearch/Home/FTMSearch) :

In [52]:
Cuomo = pd.read_csv("../data/Cuomo data 6.17.csv")

To filter out donors that live in New York:

In [54]:
filtered_Cuomo=Cuomo[Cuomo["STATE"] !="NY"]

To find average amount of donation:

In [56]:
average = filtered_Cuomo['AMNT'].mean()

print(average)

640.8411583011582

To find total amount of donations:

In [57]:
sum = filtered_Cuomo['AMNT'].sum()

print(sum)

663911.44

To create a new index that only includes the number and amount of non-New York donations by state, including Puerto Rico and Washington D.C.:

In [59]:
Cuomo_analysis=filtered_Cuomo.groupby("STATE").agg({
    "AMNT": "sum",
    "REFNO": "count"
}).reset_index()

To rename the column "REFNO" as number of donations:

In [60]:
Cuomo_analysis = Cuomo_analysis.rename(columns={'REFNO': 'Cuomo number of donations'})

To output Cuomo analysis to CSV file:

In [61]:
Cuomo_analysis.to_csv("../outputs/Cuomo.6.17.csv")

## Merging analyses of Cuomo, Mamdani, and Lander

To merge the indexes on the state column and delete the amount column, leaving only state and number of donations:

In [62]:
merged = mamdani_analysis.drop(columns=["AMNT"]).merge(AAdams_analysis, on='STATE', how='outer')

In [63]:
merged = merged.drop(columns=["AMNT"]).merge(Lander_analysis, on='STATE', how='outer')

In [64]:
merged = merged.drop(columns=["AMNT"]).merge(Cuomo_analysis, on='STATE', how='outer')

If a candidate does not have any donations from a state, enter 0 instead of NA:

In [65]:
merged = merged.drop(columns=["AMNT"]).fillna(0)

In [66]:
merged

,STATE,Mamdani number of donations,AAdams number of donations,Lander number of donations,Cuomo number of donations
0,AK,2.0,0.0,2.0,0.0
1,AL,11.0,0.0,0.0,4.0
2,AR,7.0,1.0,0.0,2.0
3,AZ,38.0,2.0,13.0,13.0
4,CA,784.0,62.0,107.0,113.0
5,CO,93.0,4.0,43.0,5.0
6,CT,132.0,36.0,47.0,125.0
7,DC,186.0,20.0,60.0,24.0
8,DE,13.0,3.0,0.0,2.0
9,FL,169.0,40.0,42.0,130.0
10,GA,86.0,25.0,7.0,16.0
11,HI,13.0,1.0,0.0,2.0
12,IA,13.0,2.0,0.0,0.0
13,ID,3.0,0.0,0.0,3.0
14,IL,210.0,20.0,37.0,24.0
15,IN,39.0,2.0,3.0,0.0
16,KS,16.0,0.0,15.0,2.0
17,KY,9.0,0.0,2.0,0.0
18,LA,16.0,1.0,1.0,0.0
19,MA,351.0,17.0,67.0,49.0
20,MD,149.0,24.0,68.0,21.0
21,ME,37.0,2.0,3.0,5.0
22,MI,143.0,10.0,5.0,6.0
23,MN,83.0,8.0,8.0,2.0
24,MO,35.0,1.0,85.0,5.0
25,MS,3.0,3.0,0.0,0.0
26,MT,8.0,0.0,0.0,3.0
27,NC,70.0,13.0,19.0,10.0
28,ND,2.0,0.0,1.0,0.0
29,NE,11.0,2.0,3.0,4.0
30,NH,22.0,2.0,7.0,4.0
31,NJ,436.0,86.0,119.0,281.0
32,NM,26.0,2.0,16.0,2.0
33,NV,32.0,3.0,7.0,13.0
34,OH,99.0,5.0,10.0,20.0
35,OK,12.0,2.0,1.0,1.0
36,OR,80.0,2.0,15.0,6.0
37,PA,368.0,23.0,40.0,39.0
38,PR,0.0,0.0,0.0,1.0
39,RI,38.0,1.0,1.0,3.0
40,SC,14.0,5.0,1.0,5.0
41,SD,4.0,0.0,5.0,0.0
42,TN,29.0,1.0,2.0,9.0
43,TX,187.0,17.0,8.0,34.0
44,UT,16.0,1.0,0.0,2.0
45,VA,136.0,17.0,28.0,22.0
46,VT,44.0,3.0,8.0,5.0
47,WA,142.0,11.0,22.0,8.0
48,WI,66.0,3.0,4.0,4.0
49,WV,10.0,0.0,1.0,0.0
50,WY,1.0,0.0,0.0,1.0

Export merged analysis to CSV:

In [67]:
merged.to_csv("../outputs/candidates_merged.6.17.csv")